---
import NavBar from "@includes/dynamic/NavBar";
import Footer from "@includes/static/Footer/Footer.astro";
---

<!DOCTYPE html>
<html>
  <body class="bg-humble-beginnings bg-fixed bg-no-repeat bg-cover bg-black bg-opacity-70">
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
