---
import NavBar from "@includes/dynamic/NavBar";
import Footer from "@includes/static/Footer/Footer.astro";
---

<!DOCTYPE html>
<html>
  <body>
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
