---
export interface Props {
  sx?: string[];
}

const { sx } = Astro.props;

export const read = (symbol) => symbol ?? null;
---

<body
  class:list={["bg-humble-beginnings", "bg-fixed bg-cover top-0", ...read(sx)]}
>
  <slot />
</body>
